<!DOCTYPE html>
<html>
	<head>
		<title>Vue sample front</title>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
	</head>
	<body>

		<div id="shortcut">
			<input id="long_url" style="width: 65%;">
		  <p>{{ message }}</p>
		  <button v-on:click="host">Host!</button>
		  <button v-on:click="shorten">Skróć!</button>
		</div>

		<script>
			var shortcut = new Vue({
			  el: '#shortcut',
			  
			  data: {
			  	message: ''
			  },

			  methods: {
			  	shorten: function(e) {
			  		var formData = new FormData();
			  		formData.append('url', document.getElementById('long_url').value);
			  		var req =   this.$http.post('http://localhost:5000/shorten/', formData).then(
			  			response => { this.message = response.body; },
			  			response => { console.log('damn') }
			  		);		  	
			  	},
			  	host: function(e) {
			  		var req =   this.$http.get('http://localhost:5000/host').then(
			  			response => { this.message = response.body; },
			  			response => { console.log('damn') }
			  		);
			  	}
			  }
			})
		</script>
	</body>
</html>
